@tailwind base;
@tailwind components;
@tailwind utilities;

.list-box > li{
    display: flex;
    align-items: center;
    text-decoration: underline !important;
}
.list-box > li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
}